@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.stream-section {
  font-family: "Roboto", sans-serif;
}

.announcement-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.announcement-card {
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.announcement-card:hover {
  background-color: #f8f9fa;
  transform: translateY(-1px);
}

.announcement-icon {
  background-color: #e8f0fe;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.announcement-icon img {
  width: 22px;
  height: 22px;
  filter: invert(30%) sepia(90%) saturate(400%) hue-rotate(200deg);
}

.announcement-details {
  flex: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.announcement-text {
  font-size: 14px;
  color: #202124;
  margin: 0;
}

.announcement-date {
  font-size: 12px;
  color: #5f6368;
  margin-top: 3px;
}

.announcement-menu {
  font-size: 20px;
  color: #5f6368;
  margin-left: 10px;
}

.class-post-comment {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: rgb(252, 251, 251);
  border-radius: 30px;
  padding: 5px 10px;
}

.class-post-comment input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  outline: none;
  padding: 8px;
}

.class-post-comment input::placeholder {
  color: #363535;
}

.send-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
}

.announcement-list{
  position: relative; 
  z-index: 1010; 
  transition: transform 0.3s ease, filter 0.3s ease;
}

.announcement-list.enlarged,
.announcement-list.click-error-enlarged {
  transform: scale(1.06);
  transition: transform 0.3s ease-in-out;
}

.announcement-list.enlarged {
  transform: scale(1.01);
  transition: transform 0.5s ease;
  z-index: 1500;
}

.announcement-list.click-error-enlarged {
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}